<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test Document</title>
	<link rel="stylesheet" href="/build/css/styles.css">
</head>
<body>
	<div class="parent">
		<div style="height: 500px; background-color: blue;" id="blue" class="child parent test">
			
		</div>
		<div style="height: 500px; background-color: red;" id="red" class="child parent test">
			
		</div>
		<div style="height: 500px; background-color: purple;" id="purple" class="child parent test">
			
		</div>
		<div style="height: 500px; background-color: green;" id="green" class="child parent test">
			
		</div>
	</div>

	<button type="button" id="swap">SWAP</button>
	<button type="button" id="destroy">DESTROY OBSERVER</button>

	<script type="module" src="script.js" ></script>
</body>
</html>