<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Test Document</title>
	<link rel="stylesheet" href="/build/css/styles.css">
</head>
<body>
	<div class="parent">
		<div class="child parent test">
			<ul>
				<li>
					<span>pest</span>
					<div data-fok="test" class="child parent">
						<div class="child parent">
							<ul>
								<li><span class="hoer">hoi</span>
									<div id="child">
										<div id="hoer" class="test" data-test="test">mand</div>
										<div id="test" class="test" data-test="test2">mand</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<button type="button" id="swap">SWAP</button>
	<button type="button" id="destroy">DESTROY OBSERVER</button>

	<script type="module" src="script.js" ></script>
</body>
</html>